<%= simple_form_for @task, :url => @task.new_record? ? url_for(action: 'create') : url_for(action: 'update') do |f| %>
  <% if @task.errors.any? %>
    <div id="error_message">
      <h2>
        <%= pluralize(@task.errors.count, "error") %> Not able to save task:
      </h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= f.input :owner, :as => :hidden, :input_html => { :value => current_user.email } %></p>
  <p><%= f.input :public_viewable, :as => :boolean, label: 'Public visibility', inline_label: true %></p>
  <p><%= f.input :name, label: 'Task Name:' %></p>
  <p><%= f.button :submit %></p>
<% end %>
