<h1>TODO List</h1>

<br>

<table id='todo_list_table' class="data_table">
  <tr>
    <th class="data_table">Owner</th>
    <th class="data_table">Public</th>
    <th class="data_table">Task</th>
  </tr>

  <% @task_list.each do |task| %>
    <tr>
      <td class="data_table"><%= task.owner %></td>
      <td class="data_table" ><%= task.public_viewable %></td>
      <td class="data_table"><%= task.name %></td>
      <td class="data_table"><%= link_to 'Show Details', task_path(task) %></td>
      <% if task.owner == current_user.email %>
        <td class="data_table"><%= link_to 'Edit', edit_task_path(task) %></td>
        <td class="data_table"><%= link_to 'Delete', task_path(task), method: :delete, data: { confirm: 'Are you sure you want to permanently delete this task?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br>
<br>

<p><%= link_to 'Create a New Task', new_task_path, id: 'new_link' %></p>
