<div id="task_details_div" class="default_centered_div">

  <h1>Task details</h1>

  <div id="task_details_form_div">
    <% if @task.blank? %>
      <p><i><strong>No tasks are currently in the system</strong></i></p>
    <% else %>
      <p>
        <strong>Owner:</strong>
        <%= @task.owner %>
      </p>
      <p>
        <strong>Public:</strong>
        <%= @task.public_viewable %>
      </p>
      <p>
        <strong>Name:</strong>
        <%= @task.name %>
      </p>
      <% if @task.owner == current_user.email %>
        <div id="edit_task_link_div" class="default_link_div">
          <p><%= link_to 'Edit Task', edit_task_path(@task) %></p>
        </div>
      <% end %>

      <div id="task_subtask_details_div">
        <h2>SubTasks</h2>

        <% if @task.subtasks.blank? %>
          <p><i><strong>None</strong></i></p>
        <% else %>
          <% @task.subtasks.each do |subtask| %>
            <%= render subtask %>
          <% end %>
        <% end %>
        <% if @task.owner == current_user.email %>
          <div id="new_subtask_button_div">
            <%= button_to 'New Subtask', new_task_subtask_path(@task), method: :get, class: 'new_subtask_button', remote: true %>
          </div>
        <% end %>

        <div id="back_link_div" class="default_link_div">
          <p><%= link_to 'Back to Todo List', tasks_path %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>