<div id="sign_in_up_div" class="form_bg_gray_grad default_border">
  <div id="sign_in_up_label_div">
    <label id="sign_in_up_label" >Log In</label>
  </div>

  <div id="sign_in_up_devise_link_div">
    <%= render "devise/shared/links" %>
    <%= devise_error_messages! %>
  </div>

  <div id="sign_in_up_form_div">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div id="sign_in_up_form_email_div" >
          <%= f.label 'Email' %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div id="sign_in_up_form_password_div">
          <%= f.label 'Password' %><br />
          <%= f.password_field :password, autocomplete: 'off' %>
        </div>

        <div id="sign_in_up_submit_div">
          <%= f.submit 'Sign in' %>
        </div>

    <% end %>
  </div>
</div>