<!DOCTYPE html>
<html>
  <head>
    <title>TodoList</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
    <br>
    <br>
    <div id="notice_alert_div" class="bold_green_text">
      <p class="notice"><%= notice %></p>
    </div>
    <div id="notice_alert_div" class="bold_red_text">
      <p class="alert"><%= alert %></p>
    </div>
  </body>
</html>
